<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
        Dashboard - Tabler - Premium and Open Source dashboard template with
        responsive and high quality UI.
    </title>
    <!-- CSS files -->
    <link href="~/css/tabler.min.css?1692870487" rel="stylesheet" />
    <link href="~/css/tabler-flags.min.css?1692870487" rel="stylesheet" />
    <link href="~/css/tabler-payments.min.css?1692870487"
          rel="stylesheet" />
    <link href="~/css/tabler-vendors.min.css?1692870487" rel="stylesheet" />
    <link href="~/css/demo.min.css?1692870487" rel="stylesheet" />
    <link href="~/lib/dropzone/dist/dropzone.css?1726507346" rel="stylesheet">
    <style>
        @@import url("https://rsms.me/inter/inter.css");

        :root {
            --tblr-font-sans-serif: "Inter Var", -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }

        body {
            font-feature-settings: "cv03", "cv04", "cv11";
        }
    </style>
    <script src="~/js/demo-theme.min.js?1692870487"></script>
    @* icon *@
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</head>
<body>

    <div class="page">
        <!-- Sidebar -->
        @Html.Partial("_SidebarPartial")
        <div class="page-wrapper">
            @RenderBody()
        </div>
    </div>

    
    


    <!-- lib JS -->
    <script src="~/lib/apexcharts/dist/apexcharts.min.js?1692870487"
            defer></script>
    <script src="~/lib/jsvectormap/dist/js/jsvectormap.min.js?1692870487"
            defer></script>
    <script src="~/lib/nouislider/dist/nouislider.min.js?1726507346" defer=""></script>
    <script src="~/lib/tom-select/dist/js/tom-select.base.min.js?1726507346" defer=""></script>
    <script src="~/lib/litepicker/dist/litepicker.js?1726507346" defer=""></script>
    <script src="~/lib/dropzone/dist/dropzone-min.js?1726507346" defer=""></script>
    <!-- Tabler Core -->
    <script src="~/js/tabler.min.js?1692870487" defer></script>
    <script src="~/js/demo.min.js?1692870487" defer></script>



</body>
</html>
