@{
    ViewData["Title"] = "Thêm sản phẩm";
    Layout = "_ProductDetailLayout";
}

<header class="sticky-top w-full d-flex align-items-center justify-content-between bg-white border-none"
        data-bs-theme="dark">
    <div class="container-xl w-full d-flex flex-row justify-content-between align-items-center py-2">
        <div>
            <a href="/Product" class="text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0" />
                </svg>
                <span class="mx-2">Quay lại danh sách sản phẩm</span>
            </a>
        </div>

        <div class="flex justify-content-end">
            <button class="btn btn-outline-primary">Thoát</button>
            <button class="btn btn-outline-primary">Lưu và in mã vạch</button>
            <button class="btn btn-primary">Lưu</button>
        </div>

    </div>
</header>

<div class="page-body">
    <div class="container-xl">
        @await Component.InvokeAsync("NewProductForm")
    </div>
</div>
